checkphancung.json
{
  "name": "checkphancung",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Người yêu cầu"
            },
            {
              "name": "Họ tên người yêu cầu"
            },
            {
              "name": "Bộ phận"
            },
            {
              "name": "Bộ phận cấp 1"
            },
            {
              "name": "Vị trí công việc"
            },
            {
              "name": "IT tiếp nhận yêu cầu"
            },
            {
              "name": "Vùng miền"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -500,
        120
      ],
      "id": "cbae1130-6249-411f-ad98-edeee120a920",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"individual\": [\n    {\n      \"name\": \"Vùng miền\",\n      \"type\": \"master_data_master_data_fo_1_location\",\n      \"staticContent\": \"<p style='font-size: 12px; color: #f44842'><i></i></p>\",\n      \"value\": \"\",\n      \"display\": false,\n      \"conditions\": {\n        \"required\": false\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -26000,\n      \"position\": -26000\n    },\n    {\n      \"name\": \"Vùng miền_location feed\",\n      \"type\": \"master_data_location_ten_vung_mien\",\n      \"staticContent\": \"<p style='font-size: 12px; color: #f44842'><i></i></p>\",\n      \"value\": \"\",\n      \"display\": false,\n      \"conditions\": {\n        \"required\": false,\n        \"locationRelated\": true\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -26500,\n      \"position\": -26500\n    },\n    {\n      \"name\": \"Người yêu cầu\",\n      \"type\": \"master_data_master_data_fo_1\",\n      \"valuefeeder\": \"TicketOwner\",\n      \"value\": \"{{ $('Edit Fields2').first().json['Người yêu cầu'] }}\",\n      \"display\": true,\n      \"conditions\": {\n        \"required\": true,\n        \"min-length\": 1,\n        \"max-length\": 1000\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -23900,\n      \"position\": -23900\n    },\n    {\n      \"name\": \"Họ tên người yêu cầu\",\n      \"type\": \"master_data_master_data_fo_1_ho_ten_nhan_vien\",\n      \"value\": \"{{ $('Edit Fields2').first().json['Họ tên nguời yêu cầu'] }}\",\n      \"display\": true,\n      \"conditions\": {\n        \"required\": true,\n        \"min-length\": 1,\n        \"max-length\": 1000\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -23899,\n      \"position\": -23899\n    },\n    {\n      \"name\": \"IT Vùng\",\n      \"type\": \"master_data_master_data_fo_1_lay_thong_tin_it\",\n      \"value\": \"{{ $json['IT Tiếp nhận yêu cầu'] }}\",\n      \"display\": false,\n      \"conditions\": {\n        \"required\": true,\n        \"min-length\": 1,\n        \"max-length\": 1000\n      },\n      \"additionalDisplayClass\": \"right-info\",\n      \"id\": -7006,\n      \"position\": -23900\n    },\n    {\n      \"name\": \"Cán bộ IT-asigner\",\n      \"type\": \"master_data_master_data_fo_1_lay_aka_bot\",\n      \"value\": \"\",\n      \"display\": false,\n      \"conditions\": {\n        \"required\": true,\n        \"min-length\": 1,\n        \"max-length\": 1000\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -7007,\n      \"position\": -7007\n    },\n    {\n      \"name\": \"Cán bộ IT-viewer\",\n      \"type\": \"master_data_master_data_fo_1_lay_thong_tin_it\",\n      \"value\": \"\",\n      \"display\": false,\n      \"conditions\": {\n        \"required\": true,\n        \"min-length\": 1,\n        \"max-length\": 1000\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -7008,\n      \"position\": -7008\n    },\n    {\n      \"name\": \"Bộ phận\",\n      \"type\": \"master_data_master_data_fo_1_bo_phan\",\n      \"value\": \"{{ $('Edit Fields2').first().json['Bộ phận'] }}\",\n      \"display\": true,\n      \"conditions\": {\n        \"required\": true,\n        \"min-length\": 1,\n        \"max-length\": 1000\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -23850,\n      \"position\": -23850\n    },\n    {\n      \"name\": \"IP Phone/ Số điện thoại liên hệ\",\n      \"type\": \"master_data_master_data_fo_1_lay_ip_phone\",\n      \"value\": \"\",\n      \"display\": true,\n      \"conditions\": {\n        \"required\": false,\n        \"min-length\": 1,\n        \"max-length\": 1000\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -23800,\n      \"position\": -23800\n    },\n    {\n      \"name\": \"Vị trí công việc\",\n      \"type\": \"master_data_master_data_fo_1_vi_tri\",\n      \"staticContent\": \"<p style='font-size: 12px; color: #f44842'><i></i></p>\",\n      \"value\": \"{{ $('Edit Fields2').first().json['Vị trí công việc'] }}\",\n      \"display\": true,\n      \"conditions\": {\n        \"required\": true\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -23750,\n      \"position\": -23750\n    },\n    {\n      \"name\": \"Mã tài sản hiện tại\",\n      \"type\": \"textarea\",\n      \"staticContent\": \"<p style='font-size: 12px; color: #f44842'><i></i></p>\",\n      \"value\": \"\",\n      \"display\": false,\n      \"conditions\": {\n        \"required\": false\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -23600,\n      \"position\": -23600\n    },\n    {\n      \"name\": \"IP hoặc tên máy tính\",\n      \"type\": \"textarea\",\n      \"staticContent\": \"<p style='font-size: 12px; color: #f44842'><i></i></p>\",\n      \"value\": \"{{ $json['Computer Name'] }}\",\n      \"display\": true,\n      \"conditions\": {\n        \"required\": false\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -23550,\n      \"position\": -23550\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        0
      ],
      "id": "52267eaa-9f96-40ae-8af3-0b4baab40581",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://eoffice.fptonline.net/rest/sms/latest/integration-ticket/create",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "S-Token",
              "value": "={{ $json.UserInfo.loginToken }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "=Kiểm tra thông tin Hardware - Chatbot - user {{ $('Edit Fields2').first().json['Người yêu cầu'] }}"
            },
            {
              "name": "locationId",
              "value": "=8"
            },
            {
              "name": "processId",
              "value": "309"
            },
            {
              "name": "detail",
              "value": "={{ JSON.stringify($('Edit Fields').item.json) }}"
            },
            {
              "name": "informedUsers",
              "value": "={{ $('Edit Fields2').first().json['Người yêu cầu'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        0
      ],
      "id": "b91f0c9c-8511-4e06-a3ae-c39672862536",
      "name": "POST_ticket"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://eoffice.fptonline.net/rest/sms/latest/integration-user/login",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "itbot"
            },
            {
              "name": "password",
              "value": "fo@45934593"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        0
      ],
      "id": "3dd62d97-474c-4a89-9b5f-7b3cd061c4d0",
      "name": "Get_S-token"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "933fa222-f9e1-48e1-8eeb-b33f863ee91b",
              "leftValue": "={{ $json['Vùng miền'] }}",
              "rightValue": "HCM",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        120
      ],
      "id": "be73f977-6a0a-44b1-9fa2-c7799c2742da",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"individual\": [\n    {\n      \"name\": \"Vùng miền\",\n      \"type\": \"master_data_master_data_fo_1_location\",\n      \"staticContent\": \"<p style='font-size: 12px; color: #f44842'><i></i></p>\",\n      \"value\": \"\",\n      \"display\": false,\n      \"conditions\": {\n        \"required\": false\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -26000,\n      \"position\": -26000\n    },\n    {\n      \"name\": \"Vùng miền_location feed\",\n      \"type\": \"master_data_location_ten_vung_mien\",\n      \"staticContent\": \"<p style='font-size: 12px; color: #f44842'><i></i></p>\",\n      \"value\": \"\",\n      \"display\": false,\n      \"conditions\": {\n        \"required\": false,\n        \"locationRelated\": true\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -26500,\n      \"position\": -26500\n    },\n    {\n      \"name\": \"Người yêu cầu\",\n      \"type\": \"master_data_master_data_fo_1\",\n      \"valuefeeder\": \"TicketOwner\",\n      \"value\": \"{{ $('Edit Fields3').first().json['Người yêu cầu'] }}\",\n      \"display\": true,\n      \"conditions\": {\n        \"required\": true,\n        \"min-length\": 1,\n        \"max-length\": 1000\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -23900,\n      \"position\": -23900\n    },\n    {\n      \"name\": \"Họ tên người yêu cầu\",\n      \"type\": \"master_data_master_data_fo_1_ho_ten_nhan_vien\",\n      \"value\": \"{{ $('Edit Fields3').first().json['Họ tên nguời yêu cầu'] }}\",\n      \"display\": true,\n      \"conditions\": {\n        \"required\": true,\n        \"min-length\": 1,\n        \"max-length\": 1000\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -23899,\n      \"position\": -23899\n    },\n    {\n      \"name\": \"IT Vùng\",\n      \"type\": \"master_data_master_data_fo_1_lay_thong_tin_it\",\n      \"value\": \"{{ $json['IT Tiếp nhận yêu cầu'] }}\",\n      \"display\": false,\n      \"conditions\": {\n        \"required\": true,\n        \"min-length\": 1,\n        \"max-length\": 1000\n      },\n      \"additionalDisplayClass\": \"right-info\",\n      \"id\": -7006,\n      \"position\": -23900\n    },\n    {\n      \"name\": \"Cán bộ IT-asigner\",\n      \"type\": \"master_data_master_data_fo_1_lay_aka_bot\",\n      \"value\": \"\",\n      \"display\": false,\n      \"conditions\": {\n        \"required\": true,\n        \"min-length\": 1,\n        \"max-length\": 1000\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -7007,\n      \"position\": -7007\n    },\n    {\n      \"name\": \"Cán bộ IT-viewer\",\n      \"type\": \"master_data_master_data_fo_1_lay_thong_tin_it\",\n      \"value\": \"\",\n      \"display\": false,\n      \"conditions\": {\n        \"required\": true,\n        \"min-length\": 1,\n        \"max-length\": 1000\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -7008,\n      \"position\": -7008\n    },\n    {\n      \"name\": \"Bộ phận\",\n      \"type\": \"master_data_master_data_fo_1_bo_phan\",\n      \"value\": \"{{ $('Edit Fields3').first().json['Bộ phận'] }}\",\n      \"display\": true,\n      \"conditions\": {\n        \"required\": true,\n        \"min-length\": 1,\n        \"max-length\": 1000\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -23850,\n      \"position\": -23850\n    },\n    {\n      \"name\": \"IP Phone/ Số điện thoại liên hệ\",\n      \"type\": \"master_data_master_data_fo_1_lay_ip_phone\",\n      \"value\": \"\",\n      \"display\": true,\n      \"conditions\": {\n        \"required\": false,\n        \"min-length\": 1,\n        \"max-length\": 1000\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -23800,\n      \"position\": -23800\n    },\n    {\n      \"name\": \"Vị trí công việc\",\n      \"type\": \"master_data_master_data_fo_1_vi_tri\",\n      \"staticContent\": \"<p style='font-size: 12px; color: #f44842'><i></i></p>\",\n      \"value\": \"{{ $('Edit Fields3').first().json['Vị trí công việc'] }}\",\n      \"display\": true,\n      \"conditions\": {\n        \"required\": true\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -23750,\n      \"position\": -23750\n    },\n    {\n      \"name\": \"Mã tài sản hiện tại\",\n      \"type\": \"textarea\",\n      \"staticContent\": \"<p style='font-size: 12px; color: #f44842'><i></i></p>\",\n      \"value\": \"\",\n      \"display\": false,\n      \"conditions\": {\n        \"required\": false\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -23600,\n      \"position\": -23600\n    },\n    {\n      \"name\": \"IP hoặc tên máy tính\",\n      \"type\": \"textarea\",\n      \"staticContent\": \"<p style='font-size: 12px; color: #f44842'><i></i></p>\",\n      \"value\": \"{{ $json['Computer Name'] }}\",\n      \"display\": true,\n      \"conditions\": {\n        \"required\": false\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -23550,\n      \"position\": -23550\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        220
      ],
      "id": "855c48bf-967b-4218-87e5-849f86efc0f9",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://eoffice.fptonline.net/rest/sms/latest/integration-user/login",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "itbot"
            },
            {
              "name": "password",
              "value": "fo@45934593"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        220
      ],
      "id": "eafc385a-e1d5-4939-bab8-28b7305ddb2c",
      "name": "Get_S-token1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://eoffice.fptonline.net/rest/sms/latest/integration-ticket/create",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "S-Token",
              "value": "={{ $json.UserInfo.loginToken }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "=Kiểm tra thông tin Hardware - Chatbot - user {{ $('Edit Fields3').first().json['Người yêu cầu'] }}"
            },
            {
              "name": "locationId",
              "value": "2"
            },
            {
              "name": "processId",
              "value": "309"
            },
            {
              "name": "detail",
              "value": "={{ JSON.stringify($('Edit Fields1').item.json) }}"
            },
            {
              "name": "informedUsers",
              "value": "={{ $('Edit Fields3').first().json['Người yêu cầu'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        220
      ],
      "id": "3f24f9c3-4659-4fb5-a8af-8a2cc0fe50c8",
      "name": "POST_ticket1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3CLFRsq2Eob6a0d9",
          "mode": "list",
          "cachedResultName": "select_IT_HCM"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        100,
        0
      ],
      "id": "aee31bc8-1923-43e9-b74b-8aec058d9800",
      "name": "select IT HCM"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KHeemypVMnwCp84p",
          "mode": "list",
          "cachedResultName": "select_IT_HN"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        100,
        220
      ],
      "id": "294595dd-2885-4c4d-93f1-fd17e6c05f35",
      "name": "select IT HN"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bfa57bf0-8436-4718-96aa-ef5a95dc0304",
              "name": "Người yêu cầu",
              "value": "={{ $json['Người yêu cầu'] }}",
              "type": "string"
            },
            {
              "id": "4badcda2-ac80-4404-9bef-0db1c3552194",
              "name": "Họ tên nguời yêu cầu",
              "value": "={{ $json['Họ tên người yêu cầu'] }}",
              "type": "string"
            },
            {
              "id": "9b037ece-b956-4625-86d9-4b3ffdadac95",
              "name": "Bộ phận",
              "value": "={{ $json['Bộ phận'] }}",
              "type": "string"
            },
            {
              "id": "2756aab6-b511-4ab0-8c47-268daa277b7f",
              "name": "Bộ phận cấp 1",
              "value": "={{ $json['Bộ phận cấp 1'] }}",
              "type": "string"
            },
            {
              "id": "09d8b4cf-4b05-4703-9f8c-5f23ee42474a",
              "name": "Vị trí công việc",
              "value": "={{ $json['Vị trí công việc'] }}",
              "type": "string"
            },
            {
              "id": "6a398591-8d58-434e-bc54-e97be12f438e",
              "name": "Vùng miền",
              "value": "={{ $json['Vùng miền'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -100,
        0
      ],
      "id": "bdb7db72-4970-407a-9ed9-9083a7796573",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bfa57bf0-8436-4718-96aa-ef5a95dc0304",
              "name": "Người yêu cầu",
              "value": "={{ $json['Người yêu cầu'] }}",
              "type": "string"
            },
            {
              "id": "4badcda2-ac80-4404-9bef-0db1c3552194",
              "name": "Họ tên nguời yêu cầu",
              "value": "={{ $json['Họ tên người yêu cầu'] }}",
              "type": "string"
            },
            {
              "id": "9b037ece-b956-4625-86d9-4b3ffdadac95",
              "name": "Bộ phận",
              "value": "={{ $json['Bộ phận'] }}",
              "type": "string"
            },
            {
              "id": "aa2969f2-d0cc-4dfe-a351-598abe1706ba",
              "name": "Bộ phận cấp 1",
              "value": "={{ $json['Bộ phận cấp 1'] }}",
              "type": "string"
            },
            {
              "id": "09d8b4cf-4b05-4703-9f8c-5f23ee42474a",
              "name": "Vị trí công việc",
              "value": "={{ $json['Vị trí công việc'] }}",
              "type": "string"
            },
            {
              "id": "6a398591-8d58-434e-bc54-e97be12f438e",
              "name": "Vùng miền",
              "value": "={{ $json['Vùng miền'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -100,
        220
      ],
      "id": "070f5b65-dcdc-4f7c-9a37-69ea8476563f",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4ee1f1b0-ce87-4c0f-8c90-29e26c2ea1ea",
              "name": "ID phiếu yêu cầu",
              "value": "={{ $json.Data.id }}",
              "type": "string"
            },
            {
              "id": "73fcf4f9-c2ae-4b68-b139-229c5b2e1036",
              "name": "Người yêu cầu",
              "value": "={{ $('Edit Fields2').first().json['Họ tên nguời yêu cầu'] }}",
              "type": "string"
            },
            {
              "id": "f89e5c67-8f08-402e-a766-6a6a59ad9095",
              "name": "Bộ phận",
              "value": "={{ $('Edit Fields2').first().json['Bộ phận'] }}",
              "type": "string"
            },
            {
              "id": "ed7d71b5-53eb-4a64-acb0-2ceeddbe0d36",
              "name": "Vùng miền",
              "value": "={{ $('Edit Fields2').first().json['Vùng miền'] }}",
              "type": "string"
            },
            {
              "id": "74985443-0874-4caf-ae54-d0e790e675d3",
              "name": "IP hoặc tên máy tính cần check",
              "value": "={{ $('Edit Fields2').first().json['IP hoặc tên máy tính'] }}",
              "type": "string"
            },
            {
              "id": "072a17a9-ce62-4c14-a9da-8a3ef2a35d18",
              "name": "Người đang nhận task",
              "value": "={{ (() => {\n  const username = $('select IT HCM').item.json.name?.trim();\n  const map = {\n    'huynd54': 'Nguyễn Đắc Huy',\n    'trongnc2': 'Nguyễn Công Trọng',\n    'sanglt6': 'Lê Thanh Sang',\n    'huuduc': 'Nguyễn Hữu Đức',\n    'trungnd': 'Nguyễn Đức Trung',\n    'anhvt66': 'Vũ Trường Anh'\n  };\n\n  // Trường hợp đặc biệt cho binhvh\n  if (username === 'binhvh') {\n    return 'Do hiện tại tất cả các IT đang bận hỗ trợ các công việc khác nên yêu cầu của bạn sẽ được trưởng bộ phận IT điều phối lại ngay sau khi có IT sẵn sàng';\n  }\n\n  const result = map[username] || username;\n  return (result + '').replace(/[\\n\\r\\u2028\\u200B]+/g, '').trim();\n})() }}",
              "type": "string"
            },
            {
              "id": "d67a743f-bd41-4de7-8903-bd7a5a84ad39",
              "name": "Đường link phiếu yêu cầu",
              "value": "=https://eoffice.fptonline.net/secure/ViewTicket.jspa?id={{ $('POST_ticket').first().json.Data.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        0
      ],
      "id": "bf9023eb-ac5b-47cb-87f1-d6923e4cfa8a",
      "name": "output info"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      result: JSON.stringify(items[0].json, null, 2)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        0
      ],
      "id": "7e2854ad-8d1e-4609-8396-78d8e5a7d4f1",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4ee1f1b0-ce87-4c0f-8c90-29e26c2ea1ea",
              "name": "ID phiếu yêu cầu",
              "value": "={{ $json.Data.id }}",
              "type": "string"
            },
            {
              "id": "73fcf4f9-c2ae-4b68-b139-229c5b2e1036",
              "name": "Người yêu cầu",
              "value": "={{ $('Edit Fields3').first().json['Họ tên nguời yêu cầu'] }}",
              "type": "string"
            },
            {
              "id": "f89e5c67-8f08-402e-a766-6a6a59ad9095",
              "name": "Bộ phận",
              "value": "={{ $('Edit Fields3').first().json['Bộ phận'] }}",
              "type": "string"
            },
            {
              "id": "ed7d71b5-53eb-4a64-acb0-2ceeddbe0d36",
              "name": "Vùng miền",
              "value": "={{ $('Edit Fields3').first().json['Vùng miền'] }}",
              "type": "string"
            },
            {
              "id": "74985443-0874-4caf-ae54-d0e790e675d3",
              "name": "IP hoặc tên máy tính cần check",
              "value": "={{ $('Edit Fields3').first().json['IP hoặc tên máy tính'] }}",
              "type": "string"
            },
            {
              "id": "072a17a9-ce62-4c14-a9da-8a3ef2a35d18",
              "name": "Người đang nhận task",
              "value": "={{ (() => {\n  const username = $('select IT HN').item.json.name?.trim();\n  const map = {\n    'huynd54': 'Nguyễn Đắc Huy',\n    'trongnc2': 'Nguyễn Công Trọng',\n    'sanglt6': 'Lê Thanh Sang',\n    'huuduc': 'Nguyễn Hữu Đức',\n    'trungnd': 'Nguyễn Đức Trung',\n    'anhvt66': 'Vũ Trường Anh'\n  };\n\n  // Trường hợp đặc biệt cho binhvh\n  if (username === 'binhvh') {\n    return 'Do hiện tại tất cả các IT đang bận hỗ trợ các công việc khác nên yêu cầu của bạn sẽ được trưởng bộ phận IT điều phối lại ngay sau khi có IT sẵn sàng';\n  }\n\n  const result = map[username] || username;\n  return (result + '').replace(/[\\n\\r\\u2028\\u200B]+/g, '').trim();\n})() }}",
              "type": "string"
            },
            {
              "id": "d67a743f-bd41-4de7-8903-bd7a5a84ad39",
              "name": "Đường link phiếu yêu cầu",
              "value": "=https://eoffice.fptonline.net/secure/ViewTicket.jspa?id={{ $('POST_ticket1').first().json.Data.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        220
      ],
      "id": "44bcc332-4907-4fc8-8aa4-18d42d02e8c1",
      "name": "output info1"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      result: JSON.stringify(items[0].json, null, 2)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        220
      ],
      "id": "0fd134c0-756a-47a7-9c78-d7be3816b6dd",
      "name": "Code1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6ea84d6f-d108-4c06-ab6f-757804161851",
              "name": "IT Tiếp nhận yêu cầu",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "3d828817-da33-4111-8143-ca50d640a41c",
              "name": "Computer Name",
              "value": "={{ \n  (() => {\n    const region = $('Edit Fields2').first().json['Vùng miền']?.trim();\n    const dept = $('Edit Fields2').first().json['Bộ phận cấp 1']?.trim();\n    const requester = $('Edit Fields2').first().json['Người yêu cầu']?.trim();\n\n    const deptMap = { \"ADS\": \"A\", \"TECH\": \"T\", \"BO\": \"B\", \"NEWS\": \"N\" };\n    const specialLDS = {\n      \"phamhieu\": \"HN-phamhieu\",\n      \"bichlien\": \"SN-bichlien\",\n      \"thanhhai\": \"SA-thanhhai\",\n      \"hangltt\": \"HA-hangltt\",\n      \"vunl\": \"ST-vunl\",\n      \"cuongnm6\": \"SA-cuongnm6\"\n    };\n\n    // Ưu tiên xử lý ngoại lệ cho LDS\n    if (dept === \"LDS\" && specialLDS[requester]) {\n      return specialLDS[requester];\n    }\n\n    const prefix = region === \"HCM\" ? \"S\" : region === \"HN\" ? \"H\" : \"\";\n    const deptChar = deptMap[dept] || \"\";\n\n    return `${prefix}${deptChar}-${requester}`.trim();\n  })() \n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        280,
        0
      ],
      "id": "4b08ce32-1e4b-4a49-98b1-67ec036098e0",
      "name": "Set_IT_HCM"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eb916dcc-daef-4126-aed7-316e78b572ce",
              "name": "IT Tiếp nhận yêu cầu",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "70d223ae-eaf5-40e6-bf58-5eefade2d969",
              "name": "Computer name",
              "value": "={{ \n  (() => {\n    const region = $('Edit Fields3').first().json['Vùng miền']?.trim();\n    const dept = $('Edit Fields3').first().json['Bộ phận cấp 1']?.trim();\n    const requester = $('Edit Fields3').first().json['Người yêu cầu']?.trim();\n\n    const deptMap = { \"ADS\": \"A\", \"TECH\": \"T\", \"BO\": \"B\", \"NEWS\": \"N\" };\n    const specialLDS = {\n      \"phamhieu\": \"HN-phamhieu\",\n      \"bichlien\": \"SN-bichlien\",\n      \"thanhhai\": \"SA-thanhhai\",\n      \"hangltt\": \"HA-hangltt\",\n      \"vunl\": \"ST-vunl\",\n      \"cuongnm6\": \"SA-cuongnm6\"\n    };\n\n    // Ưu tiên xử lý ngoại lệ cho LDS\n    if (dept === \"LDS\" && specialLDS[requester]) {\n      return specialLDS[requester];\n    }\n\n    const prefix = region === \"HCM\" ? \"S\" : region === \"HN\" ? \"H\" : \"\";\n    const deptChar = deptMap[dept] || \"\";\n\n    return `${prefix}${deptChar}-${requester}`.trim();\n  })() \n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        280,
        220
      ],
      "id": "726beb94-6bde-418c-ac31-348a89d33c03",
      "name": "Set_IT_HN"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "https://eoffice.fptonline.net/rest/sms/latest/integration-user/logout",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "S-Token",
              "value": "={{ $('Get_S-token').item.json.UserInfo.loginToken }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        -200
      ],
      "id": "37984d44-7612-40f1-8135-1cc87d4c6c0b",
      "name": "Logout eoffice"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "https://eoffice.fptonline.net/rest/sms/latest/integration-user/logout",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "S-Token",
              "value": "={{ $('Get_S-token1').item.json.UserInfo.loginToken }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        400
      ],
      "id": "6b6602b6-47d5-415f-a9b9-f3263fdab3be",
      "name": "Logout eoffice1"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get_S-token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_S-token": {
      "main": [
        [
          {
            "node": "POST_ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Get_S-token1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_S-token1": {
      "main": [
        [
          {
            "node": "POST_ticket1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "select IT HCM": {
      "main": [
        [
          {
            "node": "Set_IT_HCM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "select IT HN": {
      "main": [
        [
          {
            "node": "Set_IT_HN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST_ticket": {
      "main": [
        [
          {
            "node": "output info",
            "type": "main",
            "index": 0
          },
          {
            "node": "Logout eoffice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST_ticket1": {
      "main": [
        [
          {
            "node": "output info1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Logout eoffice1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "select IT HCM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "select IT HN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "output info": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "output info1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_IT_HCM": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_IT_HN": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a2b545a3-20c6-41ef-bfce-4371426857d8",
  "meta": {
    "instanceId": "1eb38babc8a8a45a31824b994b841421a7c46b5a123ae069344c5034178393e9"
  },
  "id": "SJW3DhhTiXIF5T9C",
  "tags": [
    {
      "createdAt": "2025-07-17T02:35:37.776Z",
      "updatedAt": "2025-07-17T02:35:37.776Z",
      "id": "X6dEXVHZk1tgTcAd",
      "name": "ticket_bot"
    }
  ]
}