resetpassword.json
{
  "name": "resetpassword",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Account cần khôi phục"
            },
            {
              "name": "Họ tên người yêu cầu"
            },
            {
              "name": "Bộ phận"
            },
            {
              "name": "Vị trí công việc"
            },
            {
              "name": "IT xử lý"
            },
            {
              "name": "Email"
            },
            {
              "name": "Vùng miền"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -280,
        0
      ],
      "id": "a506b374-0819-4ae9-be37-a7400597f33d",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"individual\": [\n    {\n      \"name\": \"Vùng miền\",\n      \"type\": \"master_data_master_data_fo_1_location\",\n      \"staticContent\": \"<p style='font-size: 12px; color: #f44842'><i></i></p>\",\n      \"value\": \"\",\n      \"display\": false,\n      \"conditions\": {\n        \"required\": false\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -26000,\n      \"position\": -26000\n    },\n    {\n      \"name\": \"Vùng miền_location feed\",\n      \"type\": \"master_data_location_ten_vung_mien\",\n      \"staticContent\": \"<p style='font-size: 12px; color: #f44842'><i></i></p>\",\n      \"value\": \"\",\n      \"display\": false,\n      \"conditions\": {\n        \"required\": false,\n        \"locationRelated\": true\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -26500,\n      \"position\": -26500\n    },\n    {\n      \"name\": \"IT xử lý\",\n      \"type\": \"master_data_akabot\",\n      \"value\": \"akabot\",\n      \"display\": false,\n      \"conditions\": {\n        \"required\": true,\n        \"min-length\": 1,\n        \"max-length\": 1000\n      },\n      \"additionalDisplayClass\": \"right-info\",\n      \"id\": -7006,\n      \"position\": -23850\n    },\n    {\n      \"name\": \"IT xử lý-asigner\",\n      \"type\": \"master_data_master_data_fo_1_lay_thong_tin_it\",\n      \"value\": \"\",\n      \"display\": false,\n      \"conditions\": {\n        \"required\": true,\n        \"min-length\": 1,\n        \"max-length\": 1000\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -7007,\n      \"position\": -7007\n    },\n    {\n      \"name\": \"IT xử lý-viewer\",\n      \"type\": \"master_data_master_data_fo_1_lay_thong_tin_it_x\",\n      \"value\": \"\",\n      \"display\": false,\n      \"conditions\": {\n        \"required\": true,\n        \"min-length\": 1,\n        \"max-length\": 1000\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -7008,\n      \"position\": -7008\n    },\n    {\n      \"configId\": 935,\n      \"name\": \"Thông tin người yêu cầu\",\n      \"id\": -25000,\n      \"position\": -25000,\n      \"type\": \"splitter\",\n      \"conditions\": {}\n    },\n    {\n      \"name\": \"Người yêu cầu\",\n      \"type\": \"user\",\n      \"valuefeeder\": \"TicketOwner\",\n      \"value\": \"\",\n      \"display\": false,\n      \"conditions\": {\n        \"required\": false,\n        \"min-length\": 1,\n        \"max-length\": 1000\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -23900,\n      \"position\": -23900\n    },\n    {\n      \"name\": \"Account cần khôi phục\",\n      \"type\": \"master_data_master_data_fo_1\",\n      \"staticContent\": \"<p style='font-size: 12px; color: #f44842'><i></i></p>\",\n      \"value\": \"{{ $json['Account cần khôi phục'] }}\",\n      \"valuefeeder\": \"TicketOwner\",\n      \"display\": true,\n      \"conditions\": {\n        \"required\": true\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -23650,\n      \"position\": -23650\n    },\n    {\n      \"name\": \"Lý do khôi phục\",\n      \"type\": \"select\",\n      \"staticContent\": \"<p style='font-size: 12px; color: #f44842'><i></i></p>\",\n      \"value\": \"Quên mật khẩu\",\n      \"display\": true,\n      \"conditions\": {\n        \"multiple\": false,\n        \"required\": true,\n        \"data\": [\n          {\n            \"text\": \"\",\n            \"value\": \"\"\n          },\n          {\n            \"text\": \"Quên mật khẩu\",\n            \"value\": \"Quên mật khẩu\"\n          },\n          {\n            \"text\": \"Account bị khóa\",\n            \"value\": \"Account bị khóa\"\n          },\n          {\n            \"text\": \"Password hết hạn\",\n            \"value\": \"Password hết hạn\"\n          }\n        ]\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -23600,\n      \"position\": -23600\n    },\n    {\n      \"name\": \"Email\",\n      \"type\": \"master_data_master_data_fo_1_lay_thong_tin_email\",\n      \"staticContent\": \"<p style='font-size: 12px; color: #f44842'><i></i></p>\",\n      \"value\": \"{{ $json.Email }}\",\n      \"display\": true,\n      \"conditions\": {\n        \"required\": false,\n        \"min-length\": 1,\n        \"max-length\": 1000\n      },\n      \"additionalDisplayClass\": \"right-info\",\n      \"id\": -23550,\n      \"position\": -23650\n    },\n    {\n      \"name\": \"Ghi chú\",\n      \"type\": \"textarea\",\n      \"staticContent\": \"<p style='font-size: 12px; color: #f44842'><i></i></p>\",\n      \"value\": \"\",\n      \"display\": true,\n      \"conditions\": {\n        \"required\": false\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -23500,\n      \"position\": -23500\n    }\n  ]\n}  ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        0
      ],
      "id": "1a927be2-620c-4c19-ba12-ed79582ff122",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://eoffice.fptonline.net/rest/sms/latest/integration-ticket/create",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "S-Token",
              "value": "={{ $json.UserInfo.loginToken }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "=Khôi phục mật khẩu máy tính - Chatbot - user {{ $('When Executed by Another Workflow').item.json['Account cần khôi phục'] }}"
            },
            {
              "name": "locationId",
              "value": "={{ \n  (() => {\n    const region = $('When Executed by Another Workflow').item.json[\"Vùng miền\"];\n    if (region === \"HCM\") return 8;\n    if (region === \"HN\") return 2;\n    return null;\n  })()\n}}"
            },
            {
              "name": "processId",
              "value": "230"
            },
            {
              "name": "detail",
              "value": "={{ JSON.stringify($('Edit Fields').item.json) }}"
            },
            {
              "name": "informedUsers",
              "value": "={{ $('When Executed by Another Workflow').item.json['Account cần khôi phục'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        0
      ],
      "id": "51b96f95-ffbc-412c-9a49-cf59b0a70325",
      "name": "POST_ticket"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://eoffice.fptonline.net/rest/sms/latest/integration-user/login",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "itbot"
            },
            {
              "name": "password",
              "value": "fo@45934593"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "id": "02173a4c-511c-4495-94e1-f91b857e160d",
      "name": "Get_S-token"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4ee1f1b0-ce87-4c0f-8c90-29e26c2ea1ea",
              "name": "ID phiếu yêu cầu",
              "value": "={{ $json.Data.id }}",
              "type": "string"
            },
            {
              "id": "73fcf4f9-c2ae-4b68-b139-229c5b2e1036",
              "name": "Người yêu cầu",
              "value": "={{ $('When Executed by Another Workflow').first().json['Họ tên người yêu cầu'] }}",
              "type": "string"
            },
            {
              "id": "a5911ff9-8a23-4a99-9b2d-e1eb79d0c555",
              "name": "Bộ phận",
              "value": "={{ $('When Executed by Another Workflow').first().json['Bộ phận'] }}",
              "type": "string"
            },
            {
              "id": "ed7d71b5-53eb-4a64-acb0-2ceeddbe0d36",
              "name": "Vùng miền",
              "value": "={{ $('When Executed by Another Workflow').first().json['Vùng miền'] }}",
              "type": "string"
            },
            {
              "id": "02447ec6-a2b4-4f65-83bd-6e0c3bb14161",
              "name": "Mục đích yêu cầu",
              "value": "Reset mật khẩu máy tính",
              "type": "string"
            },
            {
              "id": "d67a743f-bd41-4de7-8903-bd7a5a84ad39",
              "name": "Đường link phiếu yêu cầu",
              "value": "=https://eoffice.fptonline.net/secure/ViewTicket.jspa?id={{ $('POST_ticket').first().json.Data.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        0
      ],
      "id": "608b30f8-cde8-46f3-83d9-8d927088c9eb",
      "name": "output info"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      result: JSON.stringify(items[0].json, null, 2)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ],
      "id": "58a937dc-384e-4798-aacc-77709b5ce56a",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "https://eoffice.fptonline.net/rest/sms/latest/integration-user/logout",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "S-Token",
              "value": "={{ $('Get_S-token').item.json.UserInfo.loginToken }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        -180
      ],
      "id": "40b9cd2c-80e7-4a30-88b1-ab55223ba54e",
      "name": "Logout eoffice"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get_S-token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_S-token": {
      "main": [
        [
          {
            "node": "POST_ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST_ticket": {
      "main": [
        [
          {
            "node": "output info",
            "type": "main",
            "index": 0
          },
          {
            "node": "Logout eoffice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "output info": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ab77185c-ef85-45e6-8da0-273bce9e9034",
  "meta": {
    "instanceId": "1eb38babc8a8a45a31824b994b841421a7c46b5a123ae069344c5034178393e9"
  },
  "id": "NdDCEMzMqK2t5g9b",
  "tags": [
    {
      "createdAt": "2025-07-17T02:35:37.776Z",
      "updatedAt": "2025-07-17T02:35:37.776Z",
      "id": "X6dEXVHZk1tgTcAd",
      "name": "ticket_bot"
    }
  ]
}