Setdata_ticket.json
{
  "name": "Setdata_ticket",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Người yêu cầu"
            },
            {
              "name": "Họ tên người yêu cầu"
            },
            {
              "name": "Bộ phận"
            },
            {
              "name": "Vị trí công việc"
            },
            {
              "name": "IT tiếp nhận yêu cầu"
            },
            {
              "name": "Vấn đề cần hỗ trợ"
            },
            {
              "name": "Vùng miền"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -560,
        -40
      ],
      "id": "116485b1-dcb1-493d-93d6-5c4b120ccf5d",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"individual\": [    \n    {\n      \"name\": \"Người yêu cầu\",\n      \"type\": \"master_data_master_data_fo_1\",\n      \"valuefeeder\": \"TicketOwner\",\n      \"value\": \"{{ $('Edit Fields2').first().json['Người yêu cầu'] }}\",\n      \"display\": true,\n      \"conditions\": {\n        \"required\": true,\n        \"min-length\": 1,\n        \"max-length\": 1000\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -23900,\n      \"position\": -23900\n    },\n    {\n      \"name\": \"Họ tên người yêu cầu\",\n      \"type\": \"master_data_master_data_fo_1_ho_ten_nhan_vien\",\n      \"value\": \"{{ $('Edit Fields2').first().json['Họ tên nguời yêu cầu'] }}\",\n      \"display\": true,\n      \"conditions\": {\n        \"required\": true,\n        \"min-length\": 1,\n        \"max-length\": 1000\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -23899,\n      \"position\": -23899\n    },\n    {\n      \"name\": \"IT Tiếp nhận yêu cầu\",\n      \"type\": \"master_data_master_data_fo_1_lay_thong_tin_it\",\n      \"value\": \"{{ $json.name }}\",\n      \"display\": false,\n      \"conditions\": {\n        \"required\": true,\n        \"min-length\": 1,\n        \"max-length\": 1000\n      },\n      \"additionalDisplayClass\": \"right-info\",\n      \"id\": -7006,\n      \"position\": -23900\n    },    \n    {\n      \"name\": \"Bộ phận\",\n      \"type\": \"master_data_master_data_fo_1_bo_phan\",\n      \"value\": \"{{ $('Edit Fields2').first().json['Bộ phận'] }}\",\n      \"display\": true,\n      \"conditions\": {\n        \"required\": true,\n        \"min-length\": 1,\n        \"max-length\": 1000\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -23850,\n      \"position\": -23850\n    },    \n    {\n      \"name\": \"Vị trí công việc\",\n      \"type\": \"master_data_master_data_fo_1_vi_tri\",\n      \"staticContent\": \"<p style='font-size: 12px; color: #f44842'><i></i></p>\",\n      \"value\": \"{{ $('Edit Fields2').first().json['Vị trí công việc'] }}\",\n      \"display\": true,\n      \"conditions\": {\n        \"required\": true\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -23750,\n      \"position\": -23800\n    },\n    {\n      \"name\": \"Vấn đề cần hỗ trợ\",\n      \"type\": \"text\",\n      \"staticContent\": \"<p style='font-size: 12px; color: #f44842'><i></i></p>\",\n      \"value\": \"{{ $('Edit Fields2').first().json['Vấn đề cần hỗ trợ'] }}\",\n      \"display\": true,\n      \"conditions\": {\n        \"required\": true\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -23650,\n      \"position\": -23650\n    },\n    {\n      \"name\": \"Chi tiết\",\n      \"type\": \"textarea\",\n      \"staticContent\": \"<p style='font-size: 12px; color: #f44842'><i></i></p>\",\n      \"value\": \"\",\n      \"display\": true,\n      \"conditions\": {\n        \"required\": true\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -23550,\n      \"position\": -23550\n    }    \n  ]\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        -160
      ],
      "id": "ae661905-dc6a-4288-a746-360b4e6b2b7b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://eoffice.fptonline.net/rest/sms/latest/integration-ticket/create",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "S-Token",
              "value": "={{ $json.UserInfo.loginToken }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "=Hỗ trợ IT - Chatbot - user {{ $('Edit Fields').item.json.individual[0].value }}"
            },
            {
              "name": "locationId",
              "value": "=8"
            },
            {
              "name": "processId",
              "value": "194"
            },
            {
              "name": "detail",
              "value": "={{ JSON.stringify($('Edit Fields').item.json) }}"
            },
            {
              "name": "informedUsers",
              "value": "={{ $('Edit Fields').item.json.individual[0].value }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        -160
      ],
      "id": "ba4bfab7-f19a-4c95-8687-dcf49defea6b",
      "name": "POST_ticket"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://eoffice.fptonline.net/rest/sms/latest/integration-user/login",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "itbot"
            },
            {
              "name": "password",
              "value": "fo@45934593"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        -160
      ],
      "id": "cfd08425-03cc-49bc-baab-fbec0295b267",
      "name": "Get_S-token"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "933fa222-f9e1-48e1-8eeb-b33f863ee91b",
              "leftValue": "={{ $json['Vùng miền'] }}",
              "rightValue": "HCM",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -380,
        -40
      ],
      "id": "831d316b-77f9-4860-9e50-b74110803683",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"individual\": [    \n    {\n      \"name\": \"Người yêu cầu\",\n      \"type\": \"master_data_master_data_fo_1\",\n      \"valuefeeder\": \"TicketOwner\",\n      \"value\": \"{{ $('Edit Fields3').first().json['Người yêu cầu'] }}\",\n      \"display\": true,\n      \"conditions\": {\n        \"required\": true,\n        \"min-length\": 1,\n        \"max-length\": 1000\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -23900,\n      \"position\": -23900\n    },\n    {\n      \"name\": \"Họ tên người yêu cầu\",\n      \"type\": \"master_data_master_data_fo_1_ho_ten_nhan_vien\",\n      \"value\": \"{{ $('Edit Fields3').first().json['Họ tên nguời yêu cầu'] }}\",\n      \"display\": true,\n      \"conditions\": {\n        \"required\": true,\n        \"min-length\": 1,\n        \"max-length\": 1000\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -23899,\n      \"position\": -23899\n    },\n    {\n      \"name\": \"IT Tiếp nhận yêu cầu\",\n      \"type\": \"master_data_master_data_fo_1_lay_thong_tin_it\",\n      \"value\": \"{{ $json.name }}\",\n      \"display\": false,\n      \"conditions\": {\n        \"required\": true,\n        \"min-length\": 1,\n        \"max-length\": 1000\n      },\n      \"additionalDisplayClass\": \"right-info\",\n      \"id\": -7006,\n      \"position\": -23900\n    },    \n    {\n      \"name\": \"Bộ phận\",\n      \"type\": \"master_data_master_data_fo_1_bo_phan\",\n      \"value\": \"{{ $('Edit Fields3').first().json['Bộ phận'] }}\",\n      \"display\": true,\n      \"conditions\": {\n        \"required\": true,\n        \"min-length\": 1,\n        \"max-length\": 1000\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -23850,\n      \"position\": -23850\n    },    \n    {\n      \"name\": \"Vị trí công việc\",\n      \"type\": \"master_data_master_data_fo_1_vi_tri\",\n      \"staticContent\": \"<p style='font-size: 12px; color: #f44842'><i></i></p>\",\n      \"value\": \"{{ $('Edit Fields3').first().json['Vị trí công việc'] }}\",\n      \"display\": true,\n      \"conditions\": {\n        \"required\": true\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -23750,\n      \"position\": -23800\n    },\n    {\n      \"name\": \"Vấn đề cần hỗ trợ\",\n      \"type\": \"text\",\n      \"staticContent\": \"<p style='font-size: 12px; color: #f44842'><i></i></p>\",\n      \"value\": \"{{ $('Edit Fields3').first().json['Vấn đề cần hỗ trợ'] }}\",\n      \"display\": true,\n      \"conditions\": {\n        \"required\": true\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -23650,\n      \"position\": -23650\n    },\n    {\n      \"name\": \"Chi tiết\",\n      \"type\": \"textarea\",\n      \"staticContent\": \"<p style='font-size: 12px; color: #f44842'><i></i></p>\",\n      \"value\": \"\",\n      \"display\": true,\n      \"conditions\": {\n        \"required\": true\n      },\n      \"additionalDisplayClass\": \"left-info\",\n      \"id\": -23550,\n      \"position\": -23550\n    }    \n  ]\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        60
      ],
      "id": "7fe29bcf-d837-4902-bd7c-9464faf98ee8",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://eoffice.fptonline.net/rest/sms/latest/integration-user/login",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "itbot"
            },
            {
              "name": "password",
              "value": "fo@45934593"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        60
      ],
      "id": "9f2dc66e-b51c-48fa-8897-656e9e6e5a5d",
      "name": "Get_S-token1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://eoffice.fptonline.net/rest/sms/latest/integration-ticket/create",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "S-Token",
              "value": "={{ $json.UserInfo.loginToken }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "=Hỗ trợ IT - Chatbot - user {{ $('Edit Fields1').item.json.individual[0].value }}"
            },
            {
              "name": "locationId",
              "value": "2"
            },
            {
              "name": "processId",
              "value": "194"
            },
            {
              "name": "detail",
              "value": "={{ JSON.stringify($('Edit Fields1').item.json) }}"
            },
            {
              "name": "informedUsers",
              "value": "={{ $('Edit Fields1').item.json.individual[0].value }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        60
      ],
      "id": "12e9ea6d-dac2-421d-83a0-d658bd5254b4",
      "name": "POST_ticket1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3CLFRsq2Eob6a0d9",
          "mode": "list",
          "cachedResultName": "select_IT_HCM"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        40,
        -160
      ],
      "id": "8efbbbf8-633d-44a2-a6a8-1cb1b29faca6",
      "name": "select IT HCM"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KHeemypVMnwCp84p",
          "mode": "list",
          "cachedResultName": "select_IT_HN"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        40,
        60
      ],
      "id": "f86ea1b3-850c-41b2-b1d5-d056fe8d92af",
      "name": "select IT HN"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4ee1f1b0-ce87-4c0f-8c90-29e26c2ea1ea",
              "name": "ID phiếu yêu cầu",
              "value": "={{ $json.Data.id }}",
              "type": "string"
            },
            {
              "id": "73fcf4f9-c2ae-4b68-b139-229c5b2e1036",
              "name": "Người yêu cầu",
              "value": "={{ $('Edit Fields2').first().json['Họ tên nguời yêu cầu'] }}",
              "type": "string"
            },
            {
              "id": "f89e5c67-8f08-402e-a766-6a6a59ad9095",
              "name": "Bộ phận",
              "value": "={{ $('Edit Fields2').first().json['Bộ phận'] }}",
              "type": "string"
            },
            {
              "id": "ed7d71b5-53eb-4a64-acb0-2ceeddbe0d36",
              "name": "Vùng miền",
              "value": "={{ $('Edit Fields2').first().json['Vùng miền'] }}",
              "type": "string"
            },
            {
              "id": "74985443-0874-4caf-ae54-d0e790e675d3",
              "name": "Vấn đề cần hỗ trợ",
              "value": "={{ $('Edit Fields2').first().json['Vấn đề cần hỗ trợ'] }}",
              "type": "string"
            },
            {
              "id": "072a17a9-ce62-4c14-a9da-8a3ef2a35d18",
              "name": "Người đang nhận task",
              "value": "={{ (() => {\n  const username = $('select IT HCM').item.json.name?.trim();\n  const map = {\n    'huynd54': 'Nguyễn Đắc Huy',\n    'trongnc2': 'Nguyễn Công Trọng',\n    'sanglt6': 'Lê Thanh Sang',\n    'huuduc': 'Nguyễn Hữu Đức',\n    'trungnd': 'Nguyễn Đức Trung',\n    'anhvt66': 'Vũ Trường Anh'\n  };\n\n  // Trường hợp đặc biệt cho binhvh\n  if (username === 'binhvh') {\n    return 'Do hiện tại tất cả các IT đang bận hỗ trợ các công việc khác nên yêu cầu của bạn sẽ được trưởng bộ phận IT điều phối lại ngay sau khi có IT sẵn sàng';\n  }\n\n  const result = map[username] || username;\n  return (result + '').replace(/[\\n\\r\\u2028\\u200B]+/g, '').trim();\n})() }}",
              "type": "string"
            },
            {
              "id": "d67a743f-bd41-4de7-8903-bd7a5a84ad39",
              "name": "Đường link phiếu yêu cầu",
              "value": "=https://eoffice.fptonline.net/secure/ViewTicket.jspa?id={{ $('POST_ticket').item.json.Data.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        -160
      ],
      "id": "445232e2-bd20-410d-912b-6aa803ff7ac2",
      "name": "output info"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bfa57bf0-8436-4718-96aa-ef5a95dc0304",
              "name": "Người yêu cầu",
              "value": "={{ $json['Người yêu cầu'] }}",
              "type": "string"
            },
            {
              "id": "4badcda2-ac80-4404-9bef-0db1c3552194",
              "name": "Họ tên nguời yêu cầu",
              "value": "={{ $json['Họ tên người yêu cầu'] }}",
              "type": "string"
            },
            {
              "id": "9b037ece-b956-4625-86d9-4b3ffdadac95",
              "name": "Bộ phận",
              "value": "={{ $json['Bộ phận'] }}",
              "type": "string"
            },
            {
              "id": "09d8b4cf-4b05-4703-9f8c-5f23ee42474a",
              "name": "Vị trí công việc",
              "value": "={{ $json['Vị trí công việc'] }}",
              "type": "string"
            },
            {
              "id": "04ba026c-afa8-40e1-9ef6-3a9db70ef897",
              "name": "Vấn đề cần hỗ trợ",
              "value": "={{ $json['Vấn đề cần hỗ trợ'] }}",
              "type": "string"
            },
            {
              "id": "6a398591-8d58-434e-bc54-e97be12f438e",
              "name": "Vùng miền",
              "value": "={{ $json['Vùng miền'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -140,
        -160
      ],
      "id": "9ebf714f-1904-492e-b257-359fd512c53d",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      result: JSON.stringify(items[0].json, null, 2)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        -160
      ],
      "id": "88729035-f272-45c8-adb7-b86864209f9c",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bfa57bf0-8436-4718-96aa-ef5a95dc0304",
              "name": "Người yêu cầu",
              "value": "={{ $json['Người yêu cầu'] }}",
              "type": "string"
            },
            {
              "id": "4badcda2-ac80-4404-9bef-0db1c3552194",
              "name": "Họ tên nguời yêu cầu",
              "value": "={{ $json['Họ tên người yêu cầu'] }}",
              "type": "string"
            },
            {
              "id": "9b037ece-b956-4625-86d9-4b3ffdadac95",
              "name": "Bộ phận",
              "value": "={{ $json['Bộ phận'] }}",
              "type": "string"
            },
            {
              "id": "09d8b4cf-4b05-4703-9f8c-5f23ee42474a",
              "name": "Vị trí công việc",
              "value": "={{ $json['Vị trí công việc'] }}",
              "type": "string"
            },
            {
              "id": "04ba026c-afa8-40e1-9ef6-3a9db70ef897",
              "name": "Vấn đề cần hỗ trợ",
              "value": "={{ $json['Vấn đề cần hỗ trợ'] }}",
              "type": "string"
            },
            {
              "id": "6a398591-8d58-434e-bc54-e97be12f438e",
              "name": "Vùng miền",
              "value": "={{ $json['Vùng miền'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -140,
        60
      ],
      "id": "2ca01372-7748-4f38-b904-d0c7a23c07d1",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4ee1f1b0-ce87-4c0f-8c90-29e26c2ea1ea",
              "name": "ID phiếu yêu cầu",
              "value": "={{ $json.Data.id }}",
              "type": "string"
            },
            {
              "id": "73fcf4f9-c2ae-4b68-b139-229c5b2e1036",
              "name": "Người yêu cầu",
              "value": "={{ $('Edit Fields3').first().json['Họ tên nguời yêu cầu'] }}",
              "type": "string"
            },
            {
              "id": "f89e5c67-8f08-402e-a766-6a6a59ad9095",
              "name": "Bộ phận",
              "value": "={{ $('Edit Fields3').first().json['Bộ phận'] }}",
              "type": "string"
            },
            {
              "id": "ed7d71b5-53eb-4a64-acb0-2ceeddbe0d36",
              "name": "Vùng miền",
              "value": "={{ $('Edit Fields3').first().json['Vùng miền'] }}",
              "type": "string"
            },
            {
              "id": "74985443-0874-4caf-ae54-d0e790e675d3",
              "name": "Vấn đề cần hỗ trợ",
              "value": "={{ $('Edit Fields3').first().json['Vấn đề cần hỗ trợ'] }}",
              "type": "string"
            },
            {
              "id": "072a17a9-ce62-4c14-a9da-8a3ef2a35d18",
              "name": "Người đang nhận task",
              "value": "={{ (() => {\n  const username = $('select IT HN').item.json.name?.trim();\n  const map = {\n    'huynd54': 'Nguyễn Đắc Huy',\n    'trongnc2': 'Nguyễn Công Trọng',\n    'sanglt6': 'Lê Thanh Sang',\n    'huuduc': 'Nguyễn Hữu Đức',\n    'trungnd': 'Nguyễn Đức Trung',\n    'anhvt66': 'Vũ Trường Anh'\n  };\n\n  // Trường hợp đặc biệt cho binhvh\n  if (username === 'binhvh') {\n    return 'Do hiện tại tất cả các IT đang bận hỗ trợ các công việc khác nên yêu cầu của bạn sẽ được trưởng bộ phận IT điều phối lại ngay sau khi có IT sẵn sàng';\n  }\n\n  const result = map[username] || username;\n  return (result + '').replace(/[\\n\\r\\u2028\\u200B]+/g, '').trim();\n})() }}",
              "type": "string"
            },
            {
              "id": "d67a743f-bd41-4de7-8903-bd7a5a84ad39",
              "name": "Đường link phiếu yêu cầu",
              "value": "=https://eoffice.fptonline.net/secure/ViewTicket.jspa?id={{ $('POST_ticket1').item.json.Data.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        60
      ],
      "id": "45a5cf24-44bf-4e32-aeb6-0a536b5cc7fb",
      "name": "output info1"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      result: JSON.stringify(items[0].json, null, 2)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        60
      ],
      "id": "6826e9d1-8ab1-482a-a119-d68aeab11364",
      "name": "Code1"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "https://eoffice.fptonline.net/rest/sms/latest/integration-user/logout",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "S-Token",
              "value": "={{ $('Get_S-token').item.json.UserInfo.loginToken }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        -340
      ],
      "id": "bb015d24-ff76-4b21-b6e2-59723e5d2d70",
      "name": "Logout eoffice"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "https://eoffice.fptonline.net/rest/sms/latest/integration-user/logout",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "S-Token",
              "value": "={{ $('Get_S-token1').item.json.UserInfo.loginToken }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        260
      ],
      "id": "5cd51fa5-54cd-4c90-b36b-d7f8399292e4",
      "name": "Logout eoffice1"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get_S-token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_S-token": {
      "main": [
        [
          {
            "node": "POST_ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Get_S-token1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_S-token1": {
      "main": [
        [
          {
            "node": "POST_ticket1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "select IT HCM": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "select IT HN": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST_ticket": {
      "main": [
        [
          {
            "node": "output info",
            "type": "main",
            "index": 0
          },
          {
            "node": "Logout eoffice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST_ticket1": {
      "main": [
        [
          {
            "node": "output info1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Logout eoffice1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "select IT HCM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "output info": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "select IT HN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "output info1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "896195e1-7441-41c6-b939-fcbb6964046d",
  "meta": {
    "instanceId": "1eb38babc8a8a45a31824b994b841421a7c46b5a123ae069344c5034178393e9"
  },
  "id": "7ApV3XCB3VbB9Me5",
  "tags": [
    {
      "createdAt": "2025-07-17T02:35:37.776Z",
      "updatedAt": "2025-07-17T02:35:37.776Z",
      "id": "X6dEXVHZk1tgTcAd",
      "name": "ticket_bot"
    }
  ]
}