Unlock_account_domain.json
{
  "name": "Unlock_account_domain",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "46a41a9e-203b-4f7c-ad5b-7f21bb32a5f1",
              "leftValue": "={{ $json.result }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        620,
        -200
      ],
      "id": "d2149631-91be-41e1-b3b1-d4787c5da152",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const username = $('Edit Fields').first().json.username || $('Search_for_acc_DN').first().json.sAMAccountName || \"\" ;\n\nreturn [\n  {\n    json: {\n      message: `Đã unlock tài khoản ${username} thành công`\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        -300
      ],
      "id": "801eac1c-9b2d-4594-9385-947c40d9fbcd",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "const username = $('Edit Fields').first().json.username || $('Search_for_acc_DN').first().json.sAMAccountName || \"\" ;\n\nreturn [\n  {\n    json: {\n      message: `Unlock tài khoản ${username} không thành công`\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        -100
      ],
      "id": "0807b522-5e76-4d87-a3e1-e412f3029c8a",
      "name": "Code1"
    },
    {
      "parameters": {
        "baseDN": "OU=FPT Online,DC=fo,DC=com",
        "searchFor": "custom",
        "customFilter": "=(&(objectClass=user)(sAMAccountName={{ $json.username }}))",
        "options": {}
      },
      "type": "n8n-nodes-base.ldap",
      "typeVersion": 1,
      "position": [
        -140,
        0
      ],
      "id": "6be43d11-52fd-49d8-8252-02fe357c78ef",
      "name": "Search_for_acc_DN",
      "alwaysOutputData": true,
      "credentials": {
        "ldap": {
          "id": "iI9T1mvcoQPLwUcL",
          "name": "LDAP huynd"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dn": "={{ $json.dn }}",
        "attributes": {
          "replace": [
            {
              "id": "lockoutTime",
              "value": "0"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.ldap",
      "typeVersion": 1,
      "position": [
        400,
        -200
      ],
      "id": "42070eba-c7c8-4ae4-b666-4cc41f551877",
      "name": "Set_locktimeout",
      "alwaysOutputData": true,
      "credentials": {
        "ldap": {
          "id": "iI9T1mvcoQPLwUcL",
          "name": "LDAP huynd"
        }
      }
    },
    {
      "parameters": {
        "content": "Luồng dùng để mở khóa acc domain bằng cách tìm DN của acc và set attribute locktimeout = 0",
        "height": 120,
        "width": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -580,
        -140
      ],
      "typeVersion": 1,
      "id": "3558f077-2b7f-4000-83c4-4b352678f811",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "56a84886-1573-4624-83ce-6d313dc153c9",
              "name": "username",
              "value": "={{ $json.body.username.trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        0
      ],
      "id": "262b3fc0-ea91-4ec6-8b55-bfd571c208f5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "unlock-accountdomain",
        "authentication": "basicAuth",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -560,
        0
      ],
      "id": "012c3b7e-cf72-4ce2-9921-2254a127bb24",
      "name": "Webhook",
      "webhookId": "28dd0c8f-44e3-44a9-af4b-1d0a86406911",
      "credentials": {
        "httpBasicAuth": {
          "id": "dZNtog4wIGaX2q9L",
          "name": "Basic authen huynd54 HTTP Request"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5402ee3d-0405-41c7-8335-eeddc3f9215f",
              "leftValue": "={{ $json.dn }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        80,
        0
      ],
      "id": "4f897c16-98d3-4d40-86e3-345cfc1eb887",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "const username = $('Edit Fields').first().json.username ;\n\nreturn [\n  {\n    json: {\n      message: `Tài khoản ${username} không tồn tại trên hệ thống.`\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        140
      ],
      "id": "69e62aad-14ab-40ed-af88-8d975af9f452",
      "name": "Code2"
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search_for_acc_DN": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_locktimeout": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Search_for_acc_DN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Set_locktimeout",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e7194c3f-1a2b-4edb-a82b-f3f6f2dc22de",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1eb38babc8a8a45a31824b994b841421a7c46b5a123ae069344c5034178393e9"
  },
  "id": "7F4RdHjKltg4H4IZ",
  "tags": []
}
