WIP_extract_info_create_account_domain_with_AI.json
{
  "name": "WIP_extract_info_create_account_domain_with_AI",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -460,
        280
      ],
      "id": "1033998c-016a-491a-b29a-cbbd3a43244f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://eoffice.fptonline.net/rest/sms/latest/integration-phase/detail?",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "getHidden",
              "value": "true"
            },
            {
              "name": "id",
              "value": "71231"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "S-Token",
              "value": "={{ $json.UserInfo.loginToken }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        280
      ],
      "id": "8da167a6-747b-4dd8-b2a8-c6e96c36b7b6",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "language": "javascript",
        "jsCode": "// items ở đây chính là array output từ HTTP Request\nreturn items.map(item => {\n  return {\n    json: {\n      raw: JSON.stringify(item.json, null, 2)\n    }\n  };\n});"
      },
      "id": "9471e43e-31f7-4b15-becb-a451278d9e1c",
      "name": "Code Preprocess JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        240,
        280
      ]
    },
    {
      "parameters": {
        "language": "javascript",
        "jsCode": "// Input: output từ node OpenAI (message.content.data là array)\n// Output: danh sách account + thông tin kèm vung_mien\n\nconst deny = new Set(['ok','done','approved','success','completed']);\nconst acctRe = /^[a-z][a-z0-9.]{2,20}$/i;\nconst out = [];\n\nfor (const item of items) {\n  const list = item.json?.message?.content?.data ?? [];\n  for (const rec of list) {\n    if (!rec) continue;\n\n    const account = (rec.account || '').trim();\n    if (!acctRe.test(account) || deny.has(account.toLowerCase())) continue;\n\n    // Chuẩn hóa bo_phan\n    let bo_phan = rec.bo_phan ?? null;\n    if (bo_phan && typeof bo_phan === 'string') {\n      bo_phan = bo_phan.split('-')[0].trim().toUpperCase();\n    }\n\n    // Chuẩn hóa vung_mien\n    let vung_mien = rec.vung_mien ?? null;\n    if (vung_mien && typeof vung_mien === 'string') {\n      vung_mien = vung_mien.trim().toUpperCase();\n      // Nếu có chữ dài thì lấy mã ngắn (VD: \"Hà Nội\" → \"HN\")\n      if (vung_mien.includes('HN')) vung_mien = 'HN';\n      if (vung_mien.includes('HCM')) vung_mien = 'HCM';\n    }\n\n    // Tạo email theo rule\n    const domain = bo_phan === 'NEWS' ? 'vnexpress.net' : 'fpt.com';\n    const email = `${account}@${domain}`;\n\n    out.push({\n      json: {\n        account,\n        ho_va_ten: rec.ho_va_ten ?? null,\n        vi_tri_cong_viec: rec.vi_tri_cong_viec ?? null,\n        bo_phan,\n        vung_mien,\n        email\n      }\n    });\n  }\n}\n\nreturn out;"
      },
      "id": "55384b86-0f1c-4808-975b-ba7ae059de9c",
      "name": "Code Parse JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        960,
        280
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "Bạn là công cụ trích xuất có cấu trúc.\nĐầu vào là JSON của API “Đón tiếp nhân viên mới”.\nHãy chỉ trả về JSON hợp lệ (UTF-8, double quotes), không kèm giải thích.\n\nNhiệm vụ:\n1) CHỈ trích xuất account từ PhaseOutput[*].detail.individual khi:\n   - name hoặc nameText = \"Result\", HOẶC definedId = -14.\n   - Bỏ qua mọi trường khác (kể cả PhaseInput.individual, autoFeed, assigner, viewer…).\n   - Nếu một Result chứa nhiều account, tách theo các dấu: ; , / xuống dòng / khoảng trắng.\n   - Loại bỏ các giá trị vô nghĩa: \"ok\",\"done\",\"approved\",\"success\",\"completed\".\n   - Chỉ giữ username hợp lệ theo regex: ^[a-zA-Z][a-zA-Z0-9.]{2,20}$\n\n2) Từ PhaseInput[*].detail.table:\n   - Map cột bằng table.columns (columns[].id ↔ values[].columnId).\n   - Tạo các dòng theo position tăng dần (1,2,3,…).\n   - Với mỗi dòng, lấy:\n     • \"ho_va_ten\" từ cột “Họ và tên”\n     • \"vi_tri_cong_viec\" từ cột “Vị trí công việc”\n     • \"bo_phan\" từ cột “Bộ phận”, chỉ lấy phần trước dấu “-” (ví dụ “ADS-SEC-CUS-CUS” → “ADS”)\n     • \"vung_mien\" từ cột “Vùng Miền” hoặc “Vùng miền” (nếu có). Chuẩn hóa về mã ngắn: “HN”, “HCM” nếu nhận dạng được.\n   - Ghép cặp account ↔ dòng theo thứ tự xuất hiện: account thứ 1 ↔ dòng position=1, account thứ 2 ↔ position=2, ...\n   - SỐ BẢN GHI TRẢ VỀ = min(số account trích được từ Result, số dòng hợp lệ trong bảng).\n   - Nếu bảng chỉ có 1 dòng, OUTPUT PHẢI CHỈ CÓ 1 OBJECT.\n\n3) Sinh \"email\" theo rule:\n   - nếu bo_phan = \"NEWS\" → email = account + \"@vnexpress.net\"\n   - ngược lại → email = account + \"@fpt.com\"\n\nQuy tắc:\n- Nếu thiếu trường thì đặt null.\n- Không thêm trường nào khác ngoài các khóa bên dưới.\n- Chỉ trả về duy nhất 1 JSON theo đúng schema:\n\n{\n  \"data\": [\n    {\n      \"account\": \"...\",\n      \"ho_va_ten\": \"...\",\n      \"vi_tri_cong_viec\": \"...\",\n      \"bo_phan\": \"...\",\n      \"vung_mien\": \"...\",\n      \"email\": \"...\"\n    }\n  ]\n}",
              "role": "system"
            },
            {
              "content": "=={{ JSON.stringify($json) }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        460,
        280
      ],
      "id": "c06892db-39cb-4026-9f38-636aa1ebcb2d",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "kAaqxCSpUpx5lqwi",
          "name": "OpenAi API Huy"
        }
      }
    },
    {
      "parameters": {
        "content": "Khi nhận mail từ Uservice --> trigger email --> trong body mail chứa phaseId cần làm --> lấy phaseID đó trừ đi 1 để lấy ra phaseID của HR (vì trong đó mới chứa acc domain cần tạo) --> đưa vào API phaseID detail để lọc ra các thông tin khác của ticket ",
        "height": 180
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -520,
        80
      ],
      "typeVersion": 1,
      "id": "44ee8504-1b51-4921-abce-694f315a2161",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "create",
        "dn": "=CN={{ $json.ho_va_ten }},OU=Users,OU={{ \n  $json.bo_phan === 'NEWS' ? 'VNEXPRESS' : \n  ($json.bo_phan === 'ADS' ? 'ADS' : \n  ($json.bo_phan === 'BO' ? 'BO' : \n  ($json.bo_phan === 'FAF' ? 'FAF' : \n  ($json.bo_phan === 'Tech' ? 'Tech' : $json.bo_phan)))) \n}},OU={{ $json.vung_mien === 'HN' ? 'Ha Noi' : ($json.vung_mien === 'HCM' ? 'Ho Chi Minh' : $json.vung_mien) }},OU=FPT Online,DC=fo,DC=com\n",
        "attributes": {
          "attribute": [
            {
              "id": "sAMAccountName",
              "value": "={{ $json.account }}"
            },
            {
              "id": "cn",
              "value": "={{ $json.ho_va_ten }}"
            },
            {
              "id": "sn",
              "value": "={{ $json.ho_va_ten }}"
            },
            {
              "id": "mail",
              "value": "={{ $json.email }}"
            },
            {
              "id": "objectClass",
              "value": "user"
            },
            {
              "id": "userPrincipalName",
              "value": "={{ $json.account }}@fo.com"
            },
            {
              "id": "displayName",
              "value": "={{ $json.ho_va_ten }}"
            },
            {
              "id": "title",
              "value": "={{ $json.vi_tri_cong_viec }}"
            },
            {
              "id": "department",
              "value": "={{ $json.bo_phan }}"
            },
            {
              "id": "company",
              "value": "FPT Online"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.ldap",
      "typeVersion": 1,
      "position": [
        1180,
        280
      ],
      "id": "61ebf4e5-69c0-47e8-9db0-a57cda179bd4",
      "name": "Create LDAP acc",
      "credentials": {
        "ldap": {
          "id": "iI9T1mvcoQPLwUcL",
          "name": "LDAP huynd"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function encodePassword(password) {\n    // Bao quanh bằng dấu \"...\"\n    const quoted = '\"' + password + '\"';\n\n    // LDAP cần UTF-16LE\n    const buf = Buffer.from(quoted, 'utf16le');\n    return buf.toString('binary');\n}\n\nconst newPassword = $input.item.json.password;\nconst setPassword = encodePassword(newPassword);\n\nreturn [{ rawPassword: newPassword, encodedPassword: setPassword }];"
      },
      "id": "bfa0e13b-4b02-4e46-8be5-5136e764909a",
      "name": "Encode Password",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        580
      ]
    },
    {
      "parameters": {
        "jsCode": "// Trả về password cố định\nconst password = \"Vnexpress.net@123\";\nreturn [{ password }];"
      },
      "id": "b56919be-9c18-411d-816b-5964c8854334",
      "name": "Set Password",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        580
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dn": "=CN={{ $json.ho_va_ten }},OU=Users,OU={{ \n  $json.bo_phan === 'NEWS' ? 'VNEXPRESS' : \n  ($json.bo_phan === 'ADS' ? 'ADS' : \n  ($json.bo_phan === 'BO' ? 'BO' : \n  ($json.bo_phan === 'FAF' ? 'FAF' : \n  ($json.bo_phan === 'Tech' ? 'Tech' : $json.bo_phan)))) \n}},OU={{ $json.vung_mien === 'HN' ? 'Ha Noi' : ($json.vung_mien === 'HCM' ? 'Ho Chi Minh' : $json.vung_mien) }},OU=FPT Online,DC=fo,DC=com",
        "attributes": {
          "replace": [
            {
              "id": "unicodePwd",
              "value": "={{ $json.encodedPassword }}"
            },
            {
              "id": "userAccountControl",
              "value": "512"
            }
          ]
        }
      },
      "id": "b1c0e619-c1f4-4bf4-b618-c48de686246b",
      "name": "Replace LDAPS password",
      "type": "n8n-nodes-base.ldap",
      "typeVersion": 1,
      "position": [
        1180,
        580
      ],
      "credentials": {
        "ldap": {
          "id": "iI9T1mvcoQPLwUcL",
          "name": "LDAP huynd"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://eoffice.fptonline.net/rest/sms/latest/integration-user/login",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "admin-huynd54"
            },
            {
              "name": "password",
              "value": "Kotase2005*"
            }
          ]
        },
        "options": {
          "lowercaseHeaders": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -220,
        280
      ],
      "id": "47fd644e-0014-427f-859b-5d739dbee31e",
      "name": "Login Eoffice",
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Login Eoffice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code Preprocess JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Preprocess JSON": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Code Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Parse JSON": {
      "main": [
        [
          {
            "node": "Create LDAP acc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encode Password": {
      "main": [
        [
          {
            "node": "Replace LDAPS password",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Password": {
      "main": [
        [
          {
            "node": "Encode Password",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create LDAP acc": {
      "main": [
        [
          {
            "node": "Set Password",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login Eoffice": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "beeea818-0d0f-40a3-a416-ede3f5134963",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1eb38babc8a8a45a31824b994b841421a7c46b5a123ae069344c5034178393e9"
  },
  "id": "rlykNJed50hLsPUP",
  "tags": []
}